# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment
.env
.env.*

# Django
db.sqlite3
*.sqlite3
media/
staticfiles/

# Logs
*.log

# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Testes
.pytest_cache/
.coverage

# Node (caso use no front depois)
node_modules/

# Migrations (opcional - só se você recria sempre no container)
# */migrations/*
# !*/migrations/__init__.py