# PYTHON

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

*.egg-info/
dist/
build/
.eggs/

.venv/
venv/
ENV/
env/

# DJANGO

*.log
local_settings.py
db.sqlite3
*.sqlite3

media/
staticfiles/
collected_static/

# migrations (opcional)
# */migrations/*.py
# !*/migrations/__init__.py

# static gerado
static/
*/static/

# ENVIRONMENT VARIABLES

.env
.env.*
!.env.example
.env.docker
.env.local

# DOCKER

postgres_data/
docker/data/

*.pid
*.seed

# CELERY

celerybeat-schedule
celerybeat.pid

# TESTS / COVERAGE

.coverage
htmlcov/
.pytest_cache/
.tox/

# IDE / EDITORES

.vscode/
.idea/
*.swp
*.swo

# SISTEMA

.DS_Store
Thumbs.db
ehthumbs.db

# LOGS E TEMP

logs/
tmp/
temp/

# BACKUPS

*.bak
*.backup
*.old